$mobile-logo-width: em(72px);
$desktop-logo-width: em(108px);

.ok-ui-card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: $max-width;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  border-radius: $border-radius-large;

  background-color: $popup-background;

  box-shadow: 0px 4px 32px rgba(25, 34, 68, 0.24);
}

.ok-ui-card__header {
  padding: em(16px);
}

.ok-ui-card__body {
  padding: em(24px) em(16px);
}

@include tablet-plus {
  .ok-ui-card__header {
    padding: em(24px);
  }

  .ok-ui-card__body {
    padding: em(40px);
  }
}

.ok-ui-card__header {
  border-radius: $border-radius-large;
  box-shadow: 0px em(1px) em(6px) rgba(31, 32, 52, 0.1);
}

.ok-ui-card__header-context {
  display: flex;
  align-items: center;

  @include tablet-plus {
    justify-content: space-between;
  }
}

.ok-ui-card__header-navigation {
  @include phone-only {
    .ok-ui-heading-1 {
      display: none;
    }
  }

  @include tablet-plus {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: em(24px);
    border-top: solid 1px $grey-100;
    margin-top: em(24px);
  }
}

.ok-ui-card__header-logo {
  width: $mobile-logo-width;
  
  @include tablet-plus {
    width: $desktop-logo-width;
  }
}

.ok-ui-card__header-logos {
  display: flex;
  list-style: none;

  @include phone-only {
    margin-left: auto;
  }

  > * + *::before {
    content: '';
    display: inline;
    padding-left: em(8px);
    margin-left: em(8px);
    border-left: solid em(1px) $grey-100;

    @include tablet-plus {
      padding-left: em(16px);
      margin-left: em(16px);
    }
  }
}

.ok-ui-card__header-close {
  @include phone-only {
    display: none;
  }

  display: flex;
  justify-content: end;
  width: $desktop-logo-width;

  svg {
    color: $grey-200;
  }
}

.ok-ui-card__body {
  overflow: auto;
}

.ok-ui-card--blocked {
  @include blocked;

  &::before {
    border-radius: $border-radius-large;
  }
}
