@use 'src/styles/variables' as variables;

.btn {
  appearance: none;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 6px;
  padding: .5rem .5rem;
  text-align: center;
  font-weight: 600;
  font-size: .75rem;
  transition: background-color .15s, color .15s;

  &.small {
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: .75rem;
  }

  &.wide {
    width: 100%;
  }

  &.primary {
    background-color: variables.$primary-color;
    color: #fff;
    font-size: .75rem;
    line-height: 1rem;

    &:hover {
      background-color: variables.$primary-color-hover;
    }

    &:active {
      background-color: variables.$primary-color-active;
    }
  }

  &.accent {
    color: variables.$primary-color;

    &:hover {
      color: variables.$primary-color-hover;
    }

    &:active {
      background-color: variables.$primary-color-lighten;
      color: variables.$primary-color-active;
    }
  }

  &.highlight {
    background-color: variables.$primary-color-lighten;
  }

  &.outline {
    border: 1px solid currentColor;
  }

  &:disabled {
    background: variables.$disabled-color;
    color: rgba(80, 82, 83, 0.24);
  }
}
