.ok-ui-loading-wrapper {
  display: flex;
  align-items: center;

  .ok-ui-loading {
    margin-right: em(10px);
  }
}

.ok-ui-loading {
  display: inline-block;
  width: em(26px);
  height: em(26px);
  border-radius: $button-border-radius;

  border-top: em(3px) solid $brand-50;
  border-right: em(3px) solid $brand-50;
  border-bottom: em(3px) solid $brand-50;
  border-left: em(3px) solid $brand-primary;

  animation: ok-ui-loading 1.1s infinite linear;
}

.ok-ui-loading--small {
  width: em(20px);
  height: em(20px);
  border-width: em(2px);
}

@keyframes ok-ui-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}