.ok-ui-option {
  margin-bottom: em(8px);
}

.ok-ui-option__input {
  @include visually-hidden;
}

.ok-ui-option__label {
  display: flex;
  padding: em(8px) em(12px);
  border: solid em(1px) $grey-50;
  border-radius: $border-radius;

  color: $grey-600;
  background-color: $grey-50;
  cursor: pointer;

  &:hover {
    border-color: $grey-200;
    background-color: $popup-background;
  }

  p {
    color: $grey-400;
  }
}

.ok-ui-option__input-facade {
  position: relative;
  display: block;
  flex: 0 0 em(16px);
  width: em(16px);
  height: em(16px);
  margin-top: em(2px);
  margin-right: em(8px);
  border: solid em(1px) $grey-200;
  border-radius: 999px;
}

.ok-ui-option__input:focus ~ .ok-ui-option__label {
  .ok-ui-option__input-facade {
    @include focusable;
  }
}

.ok-ui-option__input:checked ~ .ok-ui-option__label {
  border-color: $brand-primary;
  background-color: $popup-background;

  .ok-ui-option__input-facade {
    border-color: $grey-400;

    &::before {
      content: '';
      position: absolute;
      top: em(2px);
      left: em(2px);
      width: em(10px);
      height: em(10px);
      border-radius: 999px;
      background-color: $brand-primary;
    }
  }
}
