# Ignore generated assets
/public/assets/paf-lib.js
/public/assets/app.bundle.js
/public/assets/app.bundle.css
/public/assets/images/
/public/assets/**/*.d.ts

# Ignore generated SSL certificates
/paf.crt
/paf.csr
/paf.key
