<form>
    <section class="ok-ui-card">
        <header class="ok-ui-card__header">
            <div class="ok-ui-card__actions">
                <a href="#" data-card="about">${ _.Logo }</a>
            </div>
            <p class="ok-ui-heading-2">${ _.customizeCurrent }</p>
            <h1 class="ok-ui-heading-1 ok-ui-mb-2" id="ok-ui-display-marketing"></h1>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="only-this-site" value="1650375977702"
                        id="ok-ui-preference-all" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-all"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label ok-ui-toggle__label--emphasis"
                            aria-described-by="ok-ui-preference-all-tooltip" for="ok-ui-preference-all">
                            ${ _.customizeAll }
                        </label>
                    </div>
                </div>
            </div>
        </header>
        <main class="ok-ui-card__body">
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="1"
                        id="ok-ui-preference-1" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-1"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-1-tooltip"
                            for="ok-ui-preference-1">
                            ${ _.customizeAccessDeviceLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-1-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizeAccessDeviceTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="2"
                        id="ok-ui-preference-2" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-2"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-2-tooltip"
                            for="ok-ui-preference-2">
                            ${ _.customizeBasicAdsLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-2-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizeBasicAdsTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="3"
                        id="ok-ui-preference-3" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-3"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-3-tooltip"
                            for="ok-ui-preference-3">
                            ${ _.customizeMarketResearchLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-3-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizeMarketResearchTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="4"
                        id="ok-ui-preference-4" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-4"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-4-tooltip"
                            for="ok-ui-preference-4">
                            ${ _.customizeImproveLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-4-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizeImproveTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="5"
                        id="ok-ui-preference-5" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-5"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-5-tooltip"
                            for="ok-ui-preference-5">
                            ${ _.customizeSecurityLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-5-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizeSecurityTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="6"
                        id="ok-ui-preference-6" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-6"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-6-tooltip"
                            for="ok-ui-preference-6">
                            ${ _.customizeDeliverLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-6-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizeDeliverTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="7"
                        id="ok-ui-preference-7" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-7"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-7-tooltip"
                            for="ok-ui-preference-7">
                            ${ _.customizePersonalizeProfileLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-7-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizePersonalizeProfileTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="8"
                        id="ok-ui-preference-8" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-8"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-8-tooltip"
                            for="ok-ui-preference-8">
                            ${ _.customizePersonalizedAdsLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-8-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizePersonalizedAdsTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="9"
                        id="ok-ui-preference-9" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-9"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-9-tooltip"
                            for="ok-ui-preference-9">
                            ${ _.customizePersonalizedContentProfileLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-9-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizePersonalizedContentProfileTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="10"
                        id="ok-ui-preference-10"/>
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-10"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-10-tooltip"
                            for="ok-ui-preference-10">
                            ${ _.customizePersonalizedContentLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-10-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizePersonalizedContentTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="11"
                        id="ok-ui-preference-11" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-11"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-11-tooltip"
                            for="ok-ui-preference-11">
                            ${ _.customizeMeasureAdPerformanceLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-11-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizeMeasureAdPerformanceTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ok-ui-toggle-wrapper">
                <div class="ok-ui-toggle ok-ui-toggle--input-end">
                    <input class="ok-ui-toggle__input" type="checkbox" name="preference" value="12"
                        id="ok-ui-preference-12" />
                    <label class="ok-ui-toggle__input-facade" for="ok-ui-preference-12"></label>
                    <div class="ok-ui-toggle__content">
                        <label class="ok-ui-toggle__label " aria-described-by="ok-ui-preference-12-tooltip"
                            for="ok-ui-preference-12">
                            ${ _.customizeMeasureContentPerformanceLabel }
                        </label>
                        <button class="ok-ui-tooltip" tabindex="0">
                            <svg width="1.167em" height="1.167em" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.33325 3.66659H7.66659V4.99992H6.33325V3.66659ZM6.33325 6.33325H7.66659V10.3333H6.33325V6.33325ZM6.99992 0.333252C3.31992 0.333252 0.333252 3.31992 0.333252 6.99992C0.333252 10.6799 3.31992 13.6666 6.99992 13.6666C10.6799 13.6666 13.6666 10.6799 13.6666 6.99992C13.6666 3.31992 10.6799 0.333252 6.99992 0.333252ZM6.99992 12.3333C4.05992 12.3333 1.66659 9.93992 1.66659 6.99992C1.66659 4.05992 4.05992 1.66659 6.99992 1.66659C9.93992 1.66659 12.3333 4.05992 12.3333 6.99992C12.3333 9.93992 9.93992 12.3333 6.99992 12.3333Z"
                                    fill="#B6BCCA" />
                            </svg>
                            <span class="ok-ui-tooltip__message-wrapper">
                                <span id="ok-ui-preference-12-tooltip" class="ok-ui-tooltip__message">${
                                    _.customizeMeasureContentPerformanceTip }</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer class="ok-ui-card__footer">
            <div class="ok-ui-card__actions">
                <button type="button" class="ok-ui-button ok-ui-button--outlined" data-card="settings">
                    <svg width="1em" height="0.667em" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.22 3.33382L5.60667 0.940488L4.66667 0.000488281L0.666666 4.00049L4.66667 8.00049L5.60667 7.06049L3.22 4.66716H11.3333V3.33382H3.22Z" />
                    </svg>
                    <span class="ok-ui-button__label">${ _.back }</span>
                </button>
                <button type="button" class="ok-ui-button ok-ui-button--filled" id="ok-ui-button-save" data-action="save">
                    <span class="ok-ui-button__label">${ _.save }</span>
                </button>
            </div>
        </footer>
    </section>
</form>