@use 'src/styles/variables' as variables;
@use 'sass:math';

.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  z-index: math.pow(2, 31); // max integer
  overflow: auto;

  .modal {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 32px;
    width: 100%;
    min-width: 300px;
    position: relative;
    z-index: 800;
    margin: 10vh auto;
    overflow: hidden;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0 0 0 / 0.2);
  }
}

