@use 'src/styles/variables' as variables;

.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  z-index: 999999;
  overflow: auto;

  .modal {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 32px;
    width: 100%;
    min-width: 300px;
    position: relative;
    z-index: 800;
    margin: 10vh auto;
    overflow: hidden;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0 0 0 / 0.2);
  }

  .closeBtn {
    display: flex;
    align-items: center;
    appearance: none;
    background: #fff;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    color: variables.$primary-color;

    .btnText {
      font-size: .75rem;
      margin-right: .5rem;
    }
  }
}

