.ok-ui-toggle-wrapper {
  padding-top: em(8px);
  padding-bottom: em(8px);
  border-bottom: solid em(1px) $grey-100;
}

.ok-ui-toggle {
  display: flex;
  align-items: center;
}

.ok-ui-toggle--input-end {
  .ok-ui-toggle__input-facade {
    order: 2;
    margin-left: auto;
  }

  .ok-ui-toggle__content {
    margin-left: 0;
    margin-right: em(8px);
  }
}

.ok-ui-toggle__input {
  @include visually-hidden;
}

.ok-ui-toggle__label {
  color: $grey-600;
  cursor: pointer;
}

.ok-ui-toggle__label + .ok-ui-link {
  margin-left: em(4px);
}

.ok-ui-toggle__label--emphasis {
  font-weight: 600;
}

.ok-ui-toggle__content {
  margin-left: em(8px);
}

.ok-ui-toggle__input-facade {
  position: relative;
  display: block;
  flex: 0 0 em(32px);
  width: em(32px);
  height: em(20px);
  border: solid em(1px) $grey-200;
  border-radius: 999px;
  cursor: pointer;

  &::before {
    content: '';
    
    position: absolute;
    top: em(3px);
    left: em(3px);
    width: em(12px);
    height: em(12px);
    border-radius: 999px;

    transition: left .3s ease-out, background-color .3s ease-out;
    background-color: $grey-200;
  }
}

.ok-ui-toggle:hover .ok-ui-toggle__input:not(:disabled) ~ .ok-ui-toggle__input-facade {
  border-color: $grey-400;
}

.ok-ui-toggle__input:disabled ~ .ok-ui-toggle__input-facade,
.ok-ui-toggle__input:disabled ~ .ok-ui-toggle__content .ok-ui-toggle__label {
  cursor: default;
}

.ok-ui-toggle__input:disabled ~ .ok-ui-toggle__input-facade {
  background-color: $grey-50;
}

.ok-ui-toggle__input:focus ~ .ok-ui-toggle__input-facade {
  @include focusable;
}

.ok-ui-toggle__input:checked ~ .ok-ui-toggle__input-facade {
  &::before {
    left: em(15px);
    background-color: $brand-primary;
  }
}
