@use 'src/styles/variables' as variables;

.container {
  color: variables.$text-color;
  line-height: 1.3;
  font-size: .75rem;

  * {
    box-sizing: border-box;
  }
}

.widgetHeading {
  font-size: .95rem;
  color: variables.$neutral-dark;
}

.textCenter {
  text-align: center;
}

.optionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;

  h3 {
    font-size: 0.875rem;
    margin: 0;
    color: variables.$neutral-dark-2;
  }
}

.optionDescription {
  font-size: .75rem;
  margin: 0;
  color: variables.$text-color;
}

.loading {
  padding: 12.5px 1rem;
}

.learnMoreTitle {
  text-align: center;
  color: variables.$neutral-dark;
  margin: .5rem 0;
}

.learnMoreContent {
  @extend .textCenter;

  p:not(:first-child) {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
  }

  a {
    color: variables.$primary-color;
    text-decoration: none;
    transition: color .15s;

    &:hover {
      color: variables.$primary-color-hover;
    }

    &:active {
      color: variables.$primary-color-active;
    }
  }
}
