@use 'src/styles/variables' as variables;

.container {
  color: #120B45;
  line-height: 1.3;

  * {
    box-sizing: border-box;
  }
}

.widgetHeading {
  font-size: .95rem;
}

.textCenter {
  text-align: center;
}

.textMuted {
  color: variables.$muted-color;
  font-size: 12px;
}

.optionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;

  h3 {
    font-size: 0.875rem;
    margin: 0;
    color: variables.$accent-color;
  }
}

.optionDescription {
  font-size: .75rem;
  margin: 0;
  color: variables.$muted-color;
}
