@use 'src/styles/variables' as variables;
@use 'sass:math';

.container {
  position: fixed;
  width: 100%;
  max-width: 560px;
  left: 0;
  right: 0;
  bottom: calc(-8rem);
  margin: auto;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 8px 18px 8px rgb(0 0 0 / 16%);
  transition: transform .25s ease;
  z-index: math.pow(2, 31); // max integer

  &.open {
    transform: translateY(-10rem);
  }
}

.body {
  padding: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
}

.footer {
  padding: .5rem 1rem;
  background: #f7f7f7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: variables.$text-color;

  i {
    font-size: 10px;
    font-weight: lighter;
    margin-right: .5rem;
  }

  svg {
    width: 72px;
    height: 16px;
  }
}

.icon {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: rgba(24, 169, 225, 0.12);
  color: variables.$primary-color;
}

.content {
  flex: 1;
  padding: 0 1rem;
  font-size: .75rem;
  color: variables.$neutral-dark-2;

  h2 {
    margin: 0 0 .25rem;
    font-size: .85rem;
    color: variables.$neutral-dark;
  }

  a {
    color: variables.$primary-color;
    text-decoration: underline;
  }
}

.closeBtnWrapper {
  align-self: self-start;
}

.closeBtn {
  appearance: none;
  border: none;
  background: none;
  color: variables.$primary-color;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color .2s;
  padding: .5rem;

  &:hover {
    background: lighten(variables.$text-color, 30);
  }
}
