# Ignore generated assets
/public/assets/*.js
/public/assets/*.map
/public/assets/**/*.d.ts
/public/assets/images/
/public/assets/fonts/

# Ignore generated SSL certificates
/paf.crt
/paf.csr
/paf.key
