@mixin rootStyles {
  all: initial;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;

  h1, h2, h3, h4, h5, h6 {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
  }
}

[paf-root] {
  @include rootStyles;
}
// Do not combine this two selectors. IE will fail
:host {
 @include rootStyles;
}
