@use 'src/styles/variables';

.option {
  background: #F7F7F7;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid transparent;
  transition: border .15s, background .15s;
  display: block;
  margin-bottom: .5rem;
  cursor: pointer;

  &:hover {
    background: #fff;
    border: 1px solid #C4C6CA;
  }

  &.active, &:active {
    background: #fff;
    border: 1px solid variables.$primary-color;
  }

  svg {
    color: variables.$primary-color;
  }
}
