<article class="ok-ui-participant ok-ui-participant--winning">
  <div class="ok-ui-participant__body">
    <div class="ok-ui-participant__status-wrapper">
      ${ _.statusHtml }
    </div>
    <div class="ok-ui-participant__details">
      <h3 class="ok-ui-heading-3">${ _.name }</h3>
    </div>
    <div class="ok-ui-participant__actions">
      <button type="button" class="ok-ui-button ok-ui-button--outlined ok-ui-button--primary" data-action="terms" data-index="${ _.index }">
        <span class="ok-ui-button__label">${ _.terms }</span>
      </button>
      <button type="button" class="ok-ui-button ok-ui-button--outlined ok-ui-button--danger" data-action="contact" data-index="${ _.index }">
        <span class="ok-ui-button__label">${ _.contact }</span>
      </button>
    </div>
  </div>
</article>