@use 'src/styles/variables';

.container {
  display: inline;
  position: relative;
  text-align: center;

  &:hover {
    .tooltipContent {
      display: flex;
    }

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-width: 6px 8px 0;
      border-style: solid;
      border-color: variables.$neutral-dark transparent transparent;
      position: absolute;
      transform: translate(-9px, -9px);
    }
  }
}

.tooltipContent {
  display: none;
  max-width: 282px;
  position: absolute;
  padding: .5rem;
  background: variables.$neutral-dark;
  color: #fff;
  border-radius: 8px;
  width: 200px;
  transform: translate(-88px, calc(-100% - 23px));

  @supports (width: max-content) {
    & {
      width: max-content;
    }
  }
}

.icon {
  cursor: pointer;
}
