name: Tests

on:
  workflow_dispatch:
  pull_request:

jobs:
  unit-and-ui-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache dependencies
        id: cache_node_modules
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('package-lock.json') }}
      - name: Cache Cypress
        id: cache_cypress_binary
        uses: actions/cache@v2
        with:
          path: ./home/runner/.cache/Cypress
          key: modules-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Cypress run
        run: npm run cypress:wait-and-run --prefix paf-mvp-frontend

      - name: Unit tests
        run: |
          npm run test
          npm run test --prefix paf-mvp-frontend
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build
        run: npm run gcp-build
      - name: Typescript compile
        run: tsc
